.logoHeader{
    display: flex;
    max-width: 316px;
    justify-content: space-between;
}
   
.textHeader {
    margin-left: 20px;
}
.textHeader p {
    color:#7B7B7B
}

.cart{
    font-size:16px;
}
.cart span {
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin: 0 12px;
        @media (max-width:768px) {
            font-size:10px;
        }
      
} 
