@import "../../scss/_var.scss";

header {

    height: 137px;
    border-bottom: 1px solid $gray-line;
    // padding: 30px 0px 0 77px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader{
   
    display: flex;
    max-width: 316px;
    justify-content: space-between;
    h1{
        font-size: 24px;
        font-weight: 800;
        text-align: left;
        color:black
            }
    h2{
        font-size: 16px;
        color:#7B7B7B
    }
    .text__header {
        margin-left: 8px;
    }
}
.cart{
    font-size:16px ;
    button{
        width: 150px;
        height: 50px;
        background-color: $orange;
        border-radius: 30px;
        color:white;
        border: 1px solid $orange;
    }
    span, img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    
}