@import "../../scss/_var.scss";

.navList {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: auto;
    @media (max-width: 880px) {
        max-width: 80vw;
        margin-bottom: 30px;
        font-size: 10px;
             
      }
   
    li{
     
        padding: 13px 30px;
        margin-right: 10px;
        border-radius: 30px;
        background-color: $grey;
        border:1px solid $grey;
        @media (max-width: 880px) {
            padding: 5px 10px;
        }
    }
    .active {
        background-color: $black;
        border:1px solid $black;
        color: white;
    }

}