.container {
  text-align: center;
  
  font-size: 22px;

}


.disabled {
  pointer-events: none;
  color:white;
}
.active{
  background-color: white;
}


/* .app__pizza_section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
} */