@import "var.scss";
@import "font.scss";


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
}
li {
    list-style: none;
}
a,

p,
b,
h1 ,
h2,
h3,
h4,
h5 {
  color: $black;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    text-align: left;
  }

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
h4 {
  
    font-weight: 700;
    font-size: 32px;
    margin-left:18px;

}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0;
}

body {
    background-color: $background;
    padding: 20px 20px;
    @media (max-width: 768px) {
      padding: 5px 0;
      background-color: $white;
    }
}
.wrapper {
  width: 100vw;
  height: 100%;
  background-color: $white;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width: 768px) {
 
    font-size: 10px;
  }
  }

  .content {
    max-width: 85%;
    margin: 0 auto;
    padding: 40px 0;
    @media (max-width: 768px) {
      padding:20px 0;
      max-width: 100%;
    }
  }

  .content__navigation{
      display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 880px) {
      flex-direction: column;
     
    }
    
}
.content__section{
  display:flex;
  flex-basis: 25%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;

 
}

li.disabled {
  pointer-events: none;
  opacity: 0.4;
}
li.active{
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
  background-color: white;
}

button {
  border-radius: 30px;
  border:none;
  font-weight: 700;
  font-size: 16px;
  cursor:pointer;
}